Package: @@NAME@@
Version: @@VERSION@@
Section: devel
Depends: @@DEPENDS@@
Recommends: @@RECOMMENDS@@
Priority: optional
Architecture: @@ARCHITECTURE@@
Maintainer: Carrel Contributors
Homepage: https://github.com/minhuw/carrel
Installed-Size: @@INSTALLEDSIZE@@
Description: A calm, focused code editor
 Carrel is an open-source editor focused on editing, files, search, source
 control, terminals, and extensions.
